@import "colors";

body {
  height: 100vh;
}

main {
  margin-bottom: 2rem;
}

.house-logo {
  width: 15%;
}

.features-house {
  display: grid;
  grid-template-columns: 2;
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 20px;
}

.form-1 {
  grid-row: 1;
  grid-column: 1;
}

.form-2 {
  grid-row: 1;
  grid-column: 2;
}

.house-contact {
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
}

.title-img {
  height: 10rem;
  width: 10rem;
  border-radius: 12px;
  margin: 2rem;
}

.svg-inline--fa {
  display: inline-block;
  font-size: 4rem;
  height: 1.4rem;
  overflow: visible;
  vertical-align: -0.125em;
}

.search-area {
  background-color: lighten($color-tertiary, 45%);
}

.jumbotron,
.jumbotron small,
.mail-btn,
.pull-right {
  color: $color-white;
}

.jumbotron {
  background: $color-secondary;
  border-radius: 0;
}

.jumbotron-sm {
  padding-top: 24px;
  padding-bottom: 24px;
}

.h1 small {
  font-size: 24px;
}

.mail-btn,
.pull-right {
  background-color: $color-primary;
}
