@import "colors";

body {
    height: 100vh;
}

main {
    margin-bottom: 2rem;
}

.jumbotron {
    background: $color-secondary;
    color: $color-white;
    border-radius: 0px;
}

.jumbotron-sm {
    padding-top: 24px;
    padding-bottom: 24px;
}

.jumbotron small {
    color: $color-white;
}

.h1 small {
    font-size: 24px;
}

.mail-btn,
.pull-right {
    background-color: $color-primary;
    color: $color-white;
}